.snap-scroll-container {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.snap-scroll-container::-webkit-scrollbar {
  display: none;
}
.snap-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
